<header>
  <a href="#">
    <img src="/img/arrow-down-big.svg">
  </a>
</header>

<div id='map'></div>

<h2>Nearby</h2>
<ul id="nearby-users">
  {{#each model as |nearby|}}
    <li class="profile">
      <img src="{{nearby.image}}">
      <h3>{{nearby.text}}</h3>
    </li>
  {{/each}}
</ul>
