<h1>Your Profile</h1> {{yield}}

<div id="profile-fields">
  <h3>Your display image</h3> {{input value=profile.image}}
  <h3>Your tagline</h3> {{input value=profile.tagline}}
</div>
<!-- <ul id="search-fields">
  <li><label>I am:</label>
    <input type="range" min="-1" max="1" value="0" id="userGender">
  </li>
  <li><label>Introduce me to:</label>
    <input type="range" min="-1" max="1" value="0" id="searchGender">
  </li>
</ul> -->

{{#link-to 'profiles' id="link-to-profiles" }}
  <img {{action 'pushToAPI' profile}} src="/img/arrow-down-big.svg">
{{/link-to}}
