<h1>Customise Page</h1> {{yield}}

<div id="entry-fields">
  <h3>Your display image</h3> {{input value=model.image}}

  <h3>Your tagline</h3> {{input value=model.tagLine}}
</div>

{{#link-to 'profiles' id="link-to-profiles" }}link back{{/link-to}}
