<header>
  {{#link-to 'profiles'}}
    <img src="/img/arrow-right.svg">
  {{/link-to}}
</header>
<img id="profile-image" src="{{model.image}}">
<p id="profile-tagline">{{model.tagline}}</p>
<a id="ping" {{action 'ping-user'}}>ping me</a>
