<header>
  {{#link-to 'customise'}}
    <img src="/img/arrow-down-big.svg">
  {{/link-to}}
</header>

<div id='map'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicmljaGFyZHZlcmhleWVuIiwiYSI6ImNqMms4ZjRmYTAwMHAzM285aXg0aXRtZmMifQ.UgSdnfuJU4EmzBlwHBWtDw';
  // Try HTML5 geolocation.
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    zoom: 19
  });
  map.addControl(new mapboxgl.GeolocateControl());
</script>

{{outlet}}
<h2>Nearby</h2>
<ul id="nearby-users">
  {{#each model as |profile|}}
    <li class="profile">
      {{#link-to 'profiles.profile' profile.id}}
        <img src="{{profile.image}}">
        <h3>{{profile.tagline}}</h3>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
