<header>
  <a href="#">
    <img src="/img/arrow-down-big.svg">
  </a>
</header>

<div id="map"></div>
<script>
  var map, infoWindow;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 19
    });
    infoWindow = new google.maps.InfoWindow;
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        // infoWindow.setPosition(pos);
        // infoWindow.setContent('Location found.');
        // infoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDhnHmVcMPmW-rmMisHMcdV4sjpCPbyJY&callback=initMap">
</script>

{{outlet}}
<h2>Nearby</h2>
<ul id="nearby-users">
  {{#each model as |profile|}}
    <li class="profile">
      {{#link-to 'profiles.profile' profile.id}}
        <img src="{{profile.image}}">
        <h3>{{profile.tagline}}</h3>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
